<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.card.dao.generatedMapper.UserAccountDTOMapper" >
  <resultMap id="BaseResultMap" type="com.card.dao.dto.UserAccountDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="card_number" property="cardNumber" jdbcType="INTEGER" />
    <result column="card_password" property="cardPassword" jdbcType="VARCHAR" />
    <result column="card_status" property="cardStatus" jdbcType="INTEGER" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="INTEGER" />
    <result column="birth" property="birth" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="phone" property="phone" jdbcType="INTEGER" />
    <result column="department" property="department" jdbcType="INTEGER" />
    <result column="pay_account_number" property="payAccountNumber" jdbcType="INTEGER" />
    <result column="identity_card" property="identityCard" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, card_number, card_password, card_status, card_type, name, birth, sex, phone, 
    department, pay_account_number, identity_card
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.card.dao.dto.UserAccountDTOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_account_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_account_tbl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_account_tbl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.card.dao.dto.UserAccountDTOExample" >
    delete from user_account_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.card.dao.dto.UserAccountDTO" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_account_tbl (card_number, card_password, card_status, 
      card_type, name, birth, 
      sex, phone, department, 
      pay_account_number, identity_card)
    values (#{cardNumber,jdbcType=INTEGER}, #{cardPassword,jdbcType=VARCHAR}, #{cardStatus,jdbcType=INTEGER}, 
      #{cardType,jdbcType=INTEGER}, #{name,jdbcType=INTEGER}, #{birth,jdbcType=TIMESTAMP}, 
      #{sex,jdbcType=SMALLINT}, #{phone,jdbcType=INTEGER}, #{department,jdbcType=INTEGER}, 
      #{payAccountNumber,jdbcType=INTEGER}, #{identityCard,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.card.dao.dto.UserAccountDTO" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_account_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="cardPassword != null" >
        card_password,
      </if>
      <if test="cardStatus != null" >
        card_status,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="payAccountNumber != null" >
        pay_account_number,
      </if>
      <if test="identityCard != null" >
        identity_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=INTEGER},
      </if>
      <if test="cardPassword != null" >
        #{cardPassword,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null" >
        #{cardStatus,jdbcType=INTEGER},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        #{department,jdbcType=INTEGER},
      </if>
      <if test="payAccountNumber != null" >
        #{payAccountNumber,jdbcType=INTEGER},
      </if>
      <if test="identityCard != null" >
        #{identityCard,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.card.dao.dto.UserAccountDTOExample" resultType="java.lang.Integer" >
    select count(*) from user_account_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_account_tbl
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cardNumber != null" >
        card_number = #{record.cardNumber,jdbcType=INTEGER},
      </if>
      <if test="record.cardPassword != null" >
        card_password = #{record.cardPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.cardStatus != null" >
        card_status = #{record.cardStatus,jdbcType=INTEGER},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=INTEGER},
      </if>
      <if test="record.birth != null" >
        birth = #{record.birth,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=SMALLINT},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=INTEGER},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=INTEGER},
      </if>
      <if test="record.payAccountNumber != null" >
        pay_account_number = #{record.payAccountNumber,jdbcType=INTEGER},
      </if>
      <if test="record.identityCard != null" >
        identity_card = #{record.identityCard,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_account_tbl
    set id = #{record.id,jdbcType=INTEGER},
      card_number = #{record.cardNumber,jdbcType=INTEGER},
      card_password = #{record.cardPassword,jdbcType=VARCHAR},
      card_status = #{record.cardStatus,jdbcType=INTEGER},
      card_type = #{record.cardType,jdbcType=INTEGER},
      name = #{record.name,jdbcType=INTEGER},
      birth = #{record.birth,jdbcType=TIMESTAMP},
      sex = #{record.sex,jdbcType=SMALLINT},
      phone = #{record.phone,jdbcType=INTEGER},
      department = #{record.department,jdbcType=INTEGER},
      pay_account_number = #{record.payAccountNumber,jdbcType=INTEGER},
      identity_card = #{record.identityCard,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.card.dao.dto.UserAccountDTO" >
    update user_account_tbl
    <set >
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=INTEGER},
      </if>
      <if test="cardPassword != null" >
        card_password = #{cardPassword,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null" >
        card_status = #{cardStatus,jdbcType=INTEGER},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=INTEGER},
      </if>
      <if test="payAccountNumber != null" >
        pay_account_number = #{payAccountNumber,jdbcType=INTEGER},
      </if>
      <if test="identityCard != null" >
        identity_card = #{identityCard,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.card.dao.dto.UserAccountDTO" >
    update user_account_tbl
    set card_number = #{cardNumber,jdbcType=INTEGER},
      card_password = #{cardPassword,jdbcType=VARCHAR},
      card_status = #{cardStatus,jdbcType=INTEGER},
      card_type = #{cardType,jdbcType=INTEGER},
      name = #{name,jdbcType=INTEGER},
      birth = #{birth,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=SMALLINT},
      phone = #{phone,jdbcType=INTEGER},
      department = #{department,jdbcType=INTEGER},
      pay_account_number = #{payAccountNumber,jdbcType=INTEGER},
      identity_card = #{identityCard,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.card.dao.dto.UserAccountDTOExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_account_tbl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>